.#{$team-block}{
    display: flex;

    
    &:nth-child(3n) {$tr: 4em;}
    &:nth-child(5n) {$br: 4em;}
    &:nth-child(7n) {$bl: 4em;}

    &__item {
        
        flex-basis: 25%;
        align-items: center;
        margin: 1rem;
        padding: 1rem;
        background: #fff;
        border-radius: .5rem;
        box-shadow: $box-shadow-sm;

        &.team__item--horizontal {
            flex-direction: row;
            justify-content: flex-start;
        }
    }

    &__avatar {
        @extend %avatar;
        box-shadow: $box-shadow;
        border: 2px solid red;
        border-radius: $tl $tr $br $bl;
    }

    &__item:nth-child(2n) &__avatar {
        border-top-left-radius: 59%;
        border-top-right-radius: 52%;
        border-bottom-left-radius: 59%;
        border-bottom-right-radius: 56%;
        transform: rotate(-6deg);
    }

    &__item:nth-child(2n) &__avatar {
        border-top-left-radius: 51%;
        border-top-right-radius: 67%;
        border-bottom-left-radius: 64%;
        border-bottom-right-radius: 56%;
        transform: rotate(-4deg);
    }

    &__item:nth-child(2n+1) &__avatar {
        border-top-left-radius: 59%;
        border-top-right-radius: 52%;
        border-bottom-left-radius: 59%;
        border-bottom-right-radius: 56%;
        transform: rotate(-6deg);
    }

    &__item:nth-child(2n+1) &__avatar {
        border-top-left-radius: 51%;
        border-top-right-radius: 67%;
        border-bottom-left-radius: 64%;
        border-bottom-right-radius: 56%;
        transform: rotate(-4deg);
    }

    &__item:nth-child(3n+2) &__avatar {
        border-top-left-radius: 59%;
        border-top-right-radius: 52%;
        border-bottom-left-radius: 59%;
        border-bottom-right-radius: 56%;
        transform: rotate(-6deg);
    }

    &__item:nth-child(3n+2) &__avatar {
        border-top-left-radius: 51%;
        border-top-right-radius: 67%;
        border-bottom-left-radius: 64%;
        border-bottom-right-radius: 56%;
        transform: rotate(-4deg);
    }

    &__info {
        display: flex;
        flex-direction: column;
        margin-top: 0.5rem;
        text-align: center;

        .#{$team-block}__item--horizontal & {
            margin-left: .5rem;
            margin-top: 0;
            text-align: left;
        }
    }
    
    &__info-name {
        color: $gray-800;
    }

    &__info-position {
        font-size: .875rem;
        color: $gray-600;
    }
}